@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center" style="padding-top:20px;opacity:.65; font-style:italic; border:10px">
    <h1>Trash R' Us</h1>
    <p class="lead">No more garbage</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p style="text-indent:50px; font-size: 18px">
            Welcome to Trash R' Us. Here, you can create and customize your very own trash pickups. There are no limits to how much trash and you can cancel anytime. Just sign up and register today.  
        </p>
    </div>
    <div class="col-md-8" align="center" style="border:solid; ;padding:1px">
        <img src="~/Content/background trash.jpg" width="600"/>
    </div>

</div>